<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>收集表单数据</title>
    <!-- 引入Vue-->
    <script type="text/javascript" src="../js/Vue.js"></script>
  </head>
  <body>
    <!-- 
      收集表单数：：
        若<input type="text"/>,则v-modes收集的是value值，用户输入的就是value值。
        若<input type="radio"/>,则v-modes收集的是value值，且要给标签配置value值，例如性别案例，
          则需要指定value值为male和female，且要指定name都为sex，不然会导致两个性别都能选择
        若<input type="checked"/>
          1. 没有配置input的value属性，那么收集的就是checked(勾选 or 未勾选，是布尔值)
          2. 配置input的value属性：
              1. v-model的初始值是非数组，那么收集的就是checked(勾选 or 未勾选，是布尔值)
              2. v-model的初始值是数组，那么收集的就是value组成的数组
        备注：v-model的三个修饰符：
          1. lazy：失去焦点再收集数据
          2. number：输入字符串转换为有效的数字
          3. trim：输入首尾空格过滤
     -->
    <div id="root">
      <!-- .prevent 阻止默认行为 -->
      <form @submit.prevent="demo">
          账号：<input type="text" v-model.trim="userInfo.account"> <br><br>
          密码：<input type="password" v-model="userInfo.password"> <br><br>
          年龄：<input type="number" v-model.number="userInfo.age"><br><br>
          性别：
          男<input type="radio" name="sex" v-model="userInfo.sex" value="male">
          女<input type="radio" name="sex" v-model="userInfo.sex" value="female">
          <br><br>
          爱好：
          <!-- checked多选框，在Vue中如果不指定value，值为checked，
            点击一个后，checked为真，别的多选框也使用这个v-model，都会被选中 
          -->
          学习<input type="checkbox" value="study" v-model="userInfo.hobby">
          吃饭<input type="checkbox" value="eat" v-model="userInfo.hobby">
          敲代码<input type="checkbox" value="program" v-model="userInfo.hobby">
          <br><br>
          所属校区：
          <select v-model="userInfo.city">
            <option value="">请选择校区</option>
            <option value="beijing">北京</option>
            <option value="shanghai">上海</option>
            <option value="shenzhen">深圳</option>
            <option value="wuhan">武汉</option>
          </select>
          <br><br>
          其他信息：
          <textarea v-model.lazy="userInfo.other"></textarea>
          <br><br>
        <input type="checkbox" v-model="userInfo.agree">阅读并接受 <a href="https:www.baidu.com">用户协议</a><br><br>
        <button>提交</button>
      </form>
    </div>

    <script type="text/javascript">
      Vue.config.productionTip = false // 阻止 vue 在启动时生成生产提示

      const vm = new Vue({
        el: '#root',
        data: {
          userInfo: {
              account: '',
              password: '',
              sex: '',
              age: 18,
              hobby: [],
              city: 'beijing',
              other: '',
              agree: ''
          }
        },
        methods: {
          demo() {
            console.log(JSON.stringify(this.userInfo))
          }
        },
      })
    </script>
  </body>
</html>
